$banner-introtext-fz: 24px !default;
$banner-title-padding: 15px;
$banner-bg: $black !default;
$banner-nav-padding: 30px!default;

.banner {
  position: relative;
  background: $banner-bg;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

  &.about {
    background: $primary;
  }

  &.portfolio {
    background: $warning;
  }

  &.contact {
    background: $yellow;
  }

  .content {
    border: 5px solid $primary;
    height: calc(100vh - 40px);
  }

  h1 {
    padding: $banner-title-padding;
    background: url("./assets/img/text-mask.jpg") top center no-repeat;
    color: transparent;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    letter-spacing: 1px;
  }

  p {
    font-size: $banner-introtext-fz;
    color: $primary;
  }

  .nav {
    padding-top: $banner-nav-padding;
  }
}
