$translatey: 40px!default;
.translateanim {
  animation: translate .3s ease forwards;
  @include transition(all .3s ease);
  transform: translate3d(0, $translatey, 0);
  opacity: 0;
}

@keyframes translate {
  0% {
    opacity: 0;
    transform: translate3d(0, $translatey, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
