$translatey: 40px!default;
$portfolio-padding: 50px!default;
$portfolio-sub-title-fz: 20px!default;
$portfolio-sub-opacity: .7!default;

.portfolio {
  position: relative;
  padding-bottom: $portfolio-padding;

  .sub {
    color: $white;
    opacity: $portfolio-sub-opacity;
    font-size: $portfolio-sub-title-fz;
  }
}
.translateanim {
  animation: translate .5s ease forwards;
  @include transition(all .3s ease);
  transform: translate3d(0, $translatey, 0);
  opacity: 0;
}

@keyframes translate {
  0% {
    opacity: 0;
    transform: translate3d(0, $translatey, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
